*{
	margin: 0px;
	padding: 0px;
}

#main{
	position: relative;
	margin: 0 auto;
}

.box{
	padding: 15px 0 0 15px;
	float: left;
}

.pic{
	padding: 15px;
	border:1px solid #ccc;	
	border-radius: 5px ;	/*边框圆角*/
	box-shadow: 0 0 5px #ccc;	/*阴影*/
}

.pic img{
	width: 175px;
	height: auto;
}