<!--<div class="jumbotron">
  <h1>'Allo, 'Allo!</h1>
  <p class="lead">
    <img src="images/yeoman.png" alt="I'm Yeoman"><br>
    Always a pleasure scaffolding your apps.
  </p>
  <p><a class="btn btn-lg btn-success" ng-href="#">Splendid!<span class="glyphicon glyphicon-ok"></span></a></p>
</div>

<div class="row marketing">
  <h4>HTML5 Boilerplate</h4>
  <p>
    HTML5 Boilerplate is a professional front-end template for building fast, robust, and adaptable web apps or sites.
  </p>

  <h4>Angular</h4>
  <p>
    AngularJS is a toolset for building the framework most suited to your application development.
  </p>

  <h4>Karma</h4>
  <p>Spectacular Test Runner for JavaScript.</p>
</div>
-->

  
   <script type="text/javascript">
      jQuery(function($) {
        $(document).ready( function() {
          //enabling stickUp on the '.navbar-wrapper' class
          $('.right-box-title').stickUp();
        });
      });    
  </script>
  <div >
    <div class="right-box-title">
      <div style="padding:5px;">
        <ul class="nav nav-pills" role="tablist">
          <li role="presentation" class="ng-scope"><a href="#">热门</a></li>
          <li role="presentation"><a href="#">找茬</a></li>
          <li role="presentation"><a href="#">最新</a></li>
          <li role="presentation"><a href="#">浏览最多</a></li>
        </ul>
      </div>
    </div>
  </div>

  <!--Todos input -->
  <form role="form" ng-submit="addTodo()">
      <dvi class="row">
        <div class="input-group">
          <input type="text" ng-model="todo" placeholder="What needs to be done?" class=".">
          <span class="input-group=btn">
            <input type="submit" value="add" class="btn btn-primary" />
          </span>
        </div>
      </dvi>

  </form>

  <!-- Todos list -->
  <div ui-sortable ng-model="todos">
  <p class="input-group" ng-repeat="todo in todos" style="padding:5px 10px; cursor: move;">
    <input type="text" ng-model="todo" class="form-control" />
    <span class="input-group-btn">
      <button class="btn btn-danger" ng-click="removeTodo($index)" aria-label="Remove">X</button>
    </span>
  </p>
  </div>